<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginAction</servlet-name>
        <servlet-class>servlet.LoginAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginAction</servlet-name>
        <url-pattern>/LoginAction</url-pattern>
    </servlet-mapping>
	  <servlet>
    <servlet-name>BootstrapUIServlet</servlet-name>
    <jsp-file>/bootstrap.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>BootstrapUIServlet</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BasicAppUIServlet</servlet-name>
    <jsp-file>/basicapp.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>BasicAppUIServlet</servlet-name>
    <url-pattern>/student</url-pattern>
  </servlet-mapping>
    <session-config>
        <session-timeout>
            150
        </session-timeout>
    </session-config>
</web-app>
