/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 1, 2015, 2:51:35 PM
    Author     : jeremyongts92
*/

body, html {
	
	background-color:#FFE4DA;
	height:100%;
}


.theme-container{
	/*border-radius: 8px;*/
	/*background-color:white;*/
	padding:1%;
	position:absolute;
	/*margin-top:1%;*/
	/*margin-left:1%;*/
	/*margin-right:1%;*/
	width:100%;
	min-height: 86%;
}

.theme-div{
	border-radius: 8px;
	background-color:white;
	padding:1%;
	position:absolute;
	margin-top:1%;
	margin-left:1%;
	margin-right:1%;
	/*width:98%;*/
	
	/*bottom: 0px;*/
	/*margin-bottom: 0px;*/
	
}

.theme-content{
	right:0px;
	min-height: 100%;
	
}


